

:root{
    --text-color: #f0f4f5;
    --backgound-color:#263343;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'RocknRoll One'
   
}

a {
    text-decoration: none;
    color:var(--text-color);
}
.navibar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #312e41;
    padding: 8px 12px;
}

.navibar_logo{
    font-size:30px;
    color:var(--text-color);
    width:210px;
}
.navibar_logo i{
    color:#d49466;
}

.navibar_menu{
    display: flex;
    list-style:none;
    padding-left: 0;
}

.navibar_menu li{
    padding:8px 12px;
}

.navibar_menu li:hover{
    background-color: #d49466;
    border-radius: 4px;
}

.navibar_icons{
    display:flex;
    list-style:none;
    color:var(--text-color);
    padding-left: 0;
}

.navibar_icons li{
    padding: 8px 12px;
}

.navibar_tglebtn{
    display:none;
    position: absolute;
    right: 32px;
    font-size:24px;
    color:#d49466;
}

.experience{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.experience h2{

}
.experience h1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.experience span{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top:  10px;
    flex-wrap: nowrap;
    }
.experience .span1 ul,.span1 li{
    display: flex;
    flex-direction: column;
    
}
.experience .span2{
    display: flex;
    flex-direction: column ;
}
.experience .span2 ul, span2.li{
    display: flex;
    flex-direction: column;
    
}

.work2{
    list-style: none;
}


.cont section{
    height: 140vh;
    width:100%;
    padding: 6em;
    box-sizing: border-box;
    color: white;
}
.cont h1{
    font-size:5em;
}
.cont p{
    width:50%;
    opacity: .8;
    list-style: height 1.5em;
    font-size:1.5em;
}

h2{
    font-size: .8em;
    text-align: center;
    margin-top:0;
}
.sticky{
    padding:3em;
    height:100vh;
    position: relative;
    box-sizing: border-box;
}
.sticky blockquote{
    font-size: 2em;
    color: black;
    width:30%;
    margin-top:17%;
    position: absolute;
}
.sticky span{
    widows: 100%;
    background:blue;
    display:block;
    height:5px;
    margin-top: 20px;
}
.sticky img{
    position: absolute;
}
.sticky img:nth-of-type(1){
    width:40%;
    right:0;
    top:20%;
}
.sticky img:nth-of-type(2){
    width:20%;
    right:40%;
    top:15%;
}
.sticky:nth-child(odd){
    background: #f1f1f1;
}
/* 게시판 */
.notice{position: relative;}
.notice h4{font-size:20px; color: #0093bd; padding-bottom: 3px; font-weight: bold;}
.notice ul li{overflow:hidden; text-overflow: ellipsis; white-space: nowrap;}
.notice ul li a{font-size:15px;}



#box{
    width: 100px;
    height: 100px;
    position: absolute;
    border: 5px solid lightgray;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0; 
}

section:nth-of-type(1){
    background: rgb(29, 167, 103);
}
section:nth-of-type(2){
    background: rgb(37, 123, 180);
}
section:nth-of-type(3){
    background: rgb(111, 38, 179);
}
section:nth-of-type(4){
    background: rgb(142, 173, 39);
}
section:nth-of-type(5){
    background: rgb(37, 193, 80);
}

[data-scroll]{
    transition: all 2s;
}

[data-scroll="in"]{
    opacity:1;
    transform:translateX(0);
}

[data-scroll="out"]{
    opacity:0;
    transform:translateX(-200px);
}


@media screen and (max-width: 768px){
    .navibar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navibar_menu {
        display:none;
        flex-direction: column;
        align-items: center;
        width:100%;
    }
    .navibar_menu li{
        width: 100%;
        text-align: center;
    }
    .navibar_icons{
        display:none;
        justify-content: center;
        width:100%;
    }
    .navibar_tglebtn{
        display:block;
    }

    .navibar_icons.active,
    .navibar_menu.active{
        display: flex;
    }
}